@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif, Verdana;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

#menu, #logo {
    line-height: 33%;
    padding: 30px;
}

h1, h2 {
    font-family: "Montserrat", sans-serif, Verdana;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3.5px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/chess-hero-image.jpg') no-repeat center center;

/* animates zoom effect on oading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: "Montserrat", sans-serif, Verdana;
    text-transform: uppercase;
    letter-spacing: 3.5px;

    width: 525px;
    height: 190px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(255, 98, 42, .7);

    bottom: 20px;
    right: 30px;

    position: absolute;
}

/* club ethos */

#club-ethos {
    background: #707070;
    text-align: center;
    border: 2px solid white;
}

#club-ethos div {
    background: #707070;
    color: #e0e0e0;
    width: 25%;
    height: 410px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
}

#club-ethos h2 {
    color: black;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

#club-ethos h3 {
    color: black;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.75px;
}

#club-ethos h4 {
    padding: 2px;
}

/* footer */

footer {
    height: 100px;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
    border: 1px solid white;
}

#photos > img {
    width: 100%;
    border: 1px solid white;
}

/* media queries */

/* for larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #club-ethos > div {
        width: 100%;
        clear: both;
        height: 160px;
        padding: 0;
    }
        #menu {
            text-align: center;
            clear: both;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }
}

/* for medium screen sizes from 950px and down */

@media screen and (max-width: 950px) {
    #club-ethos > div {
        width: 100%;
        clear: both;
        height: 180px;
        padding: 0;
    }
}

/* for small screen sizes from 750px down */

@media screen and (max-width: 750px) {
    #club-ethos > div {
        width: 100%;
        clear: both;
        height: 280px;
        padding: 0;
    }

    #logo {
        text-align: center;
        line-height: 150%;
    }
}